{% include 'orders/inc/_navbar_profile.html' %}
{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/css/style.css' %}" rel="stylesheet">
</head>

<body>
<!-- Page Content -->
<section>
    <div class="container pt-5">
        <div class="text-center mt-5">
            <h1>Заказы</h1>
            <div class="orders mt-5">
                <table class="table">
                    <thead>
                    <tr class="table-light">
                        <th scope="col">#</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Создан</th>
                        <th scope="col">Итого</th>
                        <th scope="col">Действие</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Оплачен</td>
                        <td>21 авг. 21 года</td>
                        <td>5 070 руб.</td>
                        <td>
                            <a href="order.html">просмотреть</a>
                        </td>
                    </tr>
                    <tr class="table-success">
                        <th scope="row">2</th>
                        <td>Досталвен</td>
                        <td>16 июля 21 года</td>
                        <td>4 876 руб.</td>
                        <td>
                            <a href="order.html">просмотреть</a>
                        </td>
                    </tr>
                    <tr class="table-info">
                        <th scope="row">3</th>
                        <td>В пути</td>
                        <td>14 нояб. 21 года</td>
                        <td>9 566 руб.</td>
                        <td>
                            <a href="order.html">просмотреть</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- FontAwesome script -->
<script src=" {% static 'vendor/fontawesome/fontawesome-icons.js' %}" crossorigin="anonymous"></script>


</body>

</html>